In [1]:
from env import my_setup
my_setup()

In [2]:
import os
from pydataset import data
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math as m
from scipy import stats
from env import gdb
from env import Percent
from env import output_chi2_contingency
import acquire

# Exercises

The end product of these exercise is a jupyter notebook (`classification_exercises.ipynb`) and an `acquire.py` file. The notebook will contain all your work as you move through the exercises. The `acquire.py` file should contain the final functions that acquire the data into a pandas dataframe.

1. Make a new repo called `classification-exercises` on both GitHub and within your `codeup-data-science` directory. This will be where you do your work for this module.

2. Inside of your local `classification-exercises` repo, create a file named `.gitignore` with the following contents:


  * env.py
  * .DS_Store
  * .ipynb_checkpoints/
  * __pycache__
  * *.csv
#### Add and commit your `.gitignore` file before moving forward.

3. Now that you are 100% sure that your `.gitignore` file lists `env.py`, create or copy your `env.py` file inside of `classification-exercises`. Running git status should show that git is ignoring this file.

4. In a jupyter notebook, `classification_exercises.ipynb`, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, `df_iris`, from this data.

In [3]:
df_iris = data('iris')
df_iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1             5.1          3.5           1.4          0.2      setosa
2             4.9          3.0           1.4          0.2      setosa
3             4.7          3.2           1.3          0.2      setosa
4             4.6          3.1           1.5          0.2      setosa
5             5.0          3.6           1.4          0.2      setosa
6             5.4          3.9           1.7          0.4      setosa
7             4.6          3.4           1.4          0.3      setosa
8             5.0          3.4           1.5          0.2      setosa
9             4.4          2.9           1.4          0.2      setosa
10            4.9          3.1           1.5          0.1      setosa
11            5.4          3.7           1.5          0.2      setosa
12            4.8          3.4           1.6          0.2      setosa
13            4.8          3.0           1.4          0.1      setosa
14            4.3          3.0           1.1          0.1      setosa
15            5.8          4.0           1.2          0.2      setosa
16            5.7          4.4           1.5          0.4      setosa
17            5.4          3.9           1.3          0.4      setosa
18            5.1          3.5           1.4          0.3      setosa
19            5.7          3.8           1.7          0.3      setosa
20            5.1          3.8           1.5          0.3      setosa
21            5.4          3.4           1.7          0.2      setosa
22            5.1          3.7           1.5          0.4      setosa
23            4.6          3.6           1.0          0.2      setosa
24            5.1          3.3           1.7          0.5      setosa
25            4.8          3.4           1.9          0.2      setosa
26            5.0          3.0           1.6          0.2      setosa
27            5.0          3.4           1.6          0.4      setosa
28            5.2          3.5           1.5          0.2      setosa
29            5.2          3.4           1.4          0.2      setosa
30            4.7          3.2           1.6          0.2      setosa
31            4.8          3.1           1.6          0.2      setosa
32            5.4          3.4           1.5          0.4      setosa
33            5.2          4.1           1.5          0.1      setosa
34            5.5          4.2           1.4          0.2      setosa
35            4.9          3.1           1.5          0.2      setosa
36            5.0          3.2           1.2          0.2      setosa
37            5.5          3.5           1.3          0.2      setosa
38            4.9          3.6           1.4          0.1      setosa
39            4.4          3.0           1.3          0.2      setosa
40            5.1          3.4           1.5          0.2      setosa
41            5.0          3.5           1.3          0.3      setosa
42            4.5          2.3           1.3          0.3      setosa
43            4.4          3.2           1.3          0.2      setosa
44            5.0          3.5           1.6          0.6      setosa
45            5.1          3.8           1.9          0.4      setosa
46            4.8          3.0           1.4          0.3      setosa
47            5.1          3.8           1.6          0.2      setosa
48            4.6          3.2           1.4          0.2      setosa
49            5.3          3.7           1.5          0.2      setosa
50            5.0          3.3           1.4          0.2      setosa
51            7.0          3.2           4.7          1.4  versicolor
52            6.4          3.2           4.5          1.5  versicolor
53            6.9          3.1           4.9          1.5  versicolor
54            5.5          2.3           4.0          1.3  versicolor
55            6.5          2.8           4.6          1.5  versicolor
56            5.7          2.8           4.5          1.3  versicolor
57            6.3          3.3           4.7          1.6  versicolor
58            4.9          2.4           3.3          1.0  versicolor
59            6.6          2.9           4.6          1.3  versicolor
60            5.2          2.7           3.9          1.4  versicolor
61            5.0          2.0           3.5          1.0  versicolor
62            5.9          3.0           4.2          1.5  versicolor
63            6.0          2.2           4.0          1.0  versicolor
64            6.1          2.9           4.7          1.4  versicolor
65            5.6          2.9           3.6          1.3  versicolor
66            6.7          3.1           4.4          1.4  versicolor
67            5.6          3.0           4.5          1.5  versicolor
68            5.8          2.7           4.1          1.0  versicolor
69            6.2          2.2           4.5          1.5  versicolor
70            5.6          2.5           3.9          1.1  versicolor
71            5.9          3.2           4.8          1.8  versicolor
72            6.1          2.8           4.0          1.3  versicolor
73            6.3          2.5           4.9          1.5  versicolor
74            6.1          2.8           4.7          1.2  versicolor
75            6.4          2.9           4.3          1.3  versicolor
76            6.6          3.0           4.4          1.4  versicolor
77            6.8          2.8           4.8          1.4  versicolor
78            6.7          3.0           5.0          1.7  versicolor
79            6.0          2.9           4.5          1.5  versicolor
80            5.7          2.6           3.5          1.0  versicolor
81            5.5          2.4           3.8          1.1  versicolor
82            5.5          2.4           3.7          1.0  versicolor
83            5.8          2.7           3.9          1.2  versicolor
84            6.0          2.7           5.1          1.6  versicolor
85            5.4          3.0           4.5          1.5  versicolor
86            6.0          3.4           4.5          1.6  versicolor
87            6.7          3.1           4.7          1.5  versicolor
88            6.3          2.3           4.4          1.3  versicolor
89            5.6          3.0           4.1          1.3  versicolor
90            5.5          2.5           4.0          1.3  versicolor
91            5.5          2.6           4.4          1.2  versicolor
92            6.1          3.0           4.6          1.4  versicolor
93            5.8          2.6           4.0          1.2  versicolor
94            5.0          2.3           3.3          1.0  versicolor
95            5.6          2.7           4.2          1.3  versicolor
96            5.7          3.0           4.2          1.2  versicolor
97            5.7          2.9           4.2          1.3  versicolor
98            6.2          2.9           4.3          1.3  versicolor
99            5.1          2.5           3.0          1.1  versicolor
100           5.7          2.8           4.1          1.3  versicolor
101           6.3          3.3           6.0          2.5   virginica
102           5.8          2.7           5.1          1.9   virginica
103           7.1          3.0           5.9          2.1   virginica
104           6.3          2.9           5.6          1.8   virginica
105           6.5          3.0           5.8          2.2   virginica
106           7.6          3.0           6.6          2.1   virginica
107           4.9          2.5           4.5          1.7   virginica
108           7.3          2.9           6.3          1.8   virginica
109           6.7          2.5           5.8          1.8   virginica
110           7.2          3.6           6.1          2.5   virginica
111           6.5          3.2           5.1          2.0   virginica
112           6.4          2.7           5.3          1.9   virginica
113           6.8          3.0           5.5          2.1   virginica
114           5.7          2.5           5.0          2.0   virginica
115           5.8          2.8           5.1          2.4   virginica
116           6.4          3.2           5.3          2.3   virginica
117           6.5          3.0           5.5          1.8   virginica
118           7.7          3.8           6.7          2.2   virginica
119           7.7          2.6           6.9          2.3   virginica
120           6.0          2.2           5.0          1.5   virginica
121           6.9          3.2           5.7          2.3   virginica
122           5.6          2.8           4.9          2.0   virginica
123           7.7          2.8           6.7          2.0   virginica
124           6.3          2.7           4.9          1.8   virginica
125           6.7          3.3           5.7          2.1   virginica
126           7.2          3.2           6.0          1.8   virginica
127           6.2          2.8           4.8          1.8   virginica
128           6.1          3.0           4.9          1.8   virginica
129           6.4          2.8           5.6          2.1   virginica
130           7.2          3.0           5.8          1.6   virginica
131           7.4          2.8           6.1          1.9   virginica
132           7.9          3.8           6.4          2.0   virginica
133           6.4          2.8           5.6          2.2   virginica
134           6.3          2.8           5.1          1.5   virginica
135           6.1          2.6           5.6          1.4   virginica
136           7.7          3.0           6.1          2.3   virginica
137           6.3          3.4           5.6          2.4   virginica
138           6.4          3.1           5.5          1.8   virginica
139           6.0          3.0           4.8          1.8   virginica
140           6.9          3.1           5.4          2.1   virginica
141           6.7          3.1           5.6          2.4   virginica
142           6.9          3.1           5.1          2.3   virginica
143           5.8          2.7           5.1          1.9   virginica
144           6.8          3.2           5.9          2.3   virginica
145           6.7          3.3           5.7          2.5   virginica
146           6.7          3.0           5.2          2.3   virginica
147           6.3          2.5           5.0          1.9   virginica
148           6.5          3.0           5.2          2.0   virginica
149           6.2          3.4           5.4          2.3   virginica
150           5.9          3.0           5.1          1.8   virginica

  - print the first 3 rows

In [4]:
# Our new way!
df_iris = acquire.get_iris_data()

In [5]:
print(df_iris[:3])

   measurement_id  sepal_length  sepal_width  petal_length  petal_width  \
0               1           5.1          3.5           1.4          0.2
1               2           4.9          3.0           1.4          0.2
2               3           4.7          3.2           1.3          0.2

   species_id  species_id.1 species_name
0           1             1       setosa
1           1             1       setosa
2           1             1       setosa

  - print the number of rows and columns (shape)

In [6]:
df_iris.shape

(150, 8)

  - print the column names

In [7]:
df_iris.columns.to_list()

['measurement_id',
 'sepal_length',
 'sepal_width',
 'petal_length',
 'petal_width',
 'species_id',
 'species_id.1',
 'species_name']

  - print the data type of each column

In [8]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   measurement_id  150 non-null    int64
 1   sepal_length    150 non-null    float64
 2   sepal_width     150 non-null    float64
 3   petal_length    150 non-null    float64
 4   petal_width     150 non-null    float64
 5   species_id      150 non-null    int64
 6   species_id.1    150 non-null    int64
 7   species_name    150 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 9.5+ KB

  - print the summary statistics for each of the numeric variables

In [9]:
df_iris.describe()

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id.1
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,2.000000,2.000000
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.819232,0.819232
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.000000,1.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.000000,1.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.000000,2.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,3.000000,3.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,3.000000,3.000000

5. Read the data from this google sheet into a dataframe, df_google.

In [10]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
csv_export_url

df_googlesheet = pd.read_csv(csv_export_url)
df_googlesheet.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
def read_googlesheet(sheet_url):
    '''
    This function takes in a `sheet_url` from a shared google sheet ;dtype= str
    and returns the sheet as a pd.DataFrame
    '''
#     First it uses .replace to change the google sheet url into a .csv export format
    csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
    
#     Then it uses pd.read_csv to read it into a DataFrame
    return pd.read_csv(csv_export_url)

In [12]:
df_train = read_googlesheet('https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357')
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

  - print the first 3 rows

In [13]:
df_train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

  - print the number of rows and columns

In [14]:
df_train.shape

(891, 12)

  - print the column names

In [15]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

  - print the data type of each column

In [16]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

  - print the summary statistics for each of the numeric variables

In [17]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

  - print the unique values for each of your categorical variables

In [18]:
df_train.columns = df_train.columns.str.lower()

In [59]:
def object_columns_nunique(df):
    for col in df:
        if df[col].dtype == 'object':
            print(f'{col:>10} has {df[col].nunique():>4} unique values')

In [58]:
# col_len = 0
# val_len = 0

# for col in df_googlesheet:
#     if df_googlesheet[col].dtype == 'object':
#         if col_len < len(col): col_len = len(col)
#         if val_len < len(str(df_googlesheet[col].nunique())): val_len = len(str(df_googlesheet[col].nunique()))

for col in df_googlesheet:
    if df_googlesheet[col].dtype == 'object':
        print(f'{col:>10} has {df_googlesheet[col].nunique():>4} unique values')

      Name has  891 unique values
       Sex has    2 unique values
    Ticket has  681 unique values
     Cabin has  147 unique values
  Embarked has    3 unique values

In [20]:
df_train.sex.unique(), df_train.embarked.unique()

(array(['male', 'female'], dtype=object),
 array(['S', 'C', 'Q', nan], dtype=object))

6. Download the previous exercise's file into an excel (File  Download  Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [21]:
excel_exercises = pd.read_excel('excel_exercises.xlsx')

  - assign the first 100 rows to a new dataframe, df_excel_sample

In [22]:
df_excel_sample = excel_exercises.head(100)

  - print the number of rows of your original dataframe

In [23]:
len(excel_exercises)

7049

  - print the first 5 column names

In [24]:
excel_exercises.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

  - print the column names that have a data type of object

In [25]:
excel_exercises.select_dtypes(include=['object']).columns.to_list

<bound method IndexOpsMixin.tolist of Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')>

  - compute the range for each of the numeric variables.

In [26]:
excel_exercises.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges
count,7049.000000,7049.000000,7049.000000,7049.000000,7049.000000,7038.000000
mean,0.162009,1.324585,1.222585,0.690878,64.747014,2283.043883
std,0.368485,0.642709,0.779068,0.833757,30.099460,2266.521984
min,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000
25%,0.000000,1.000000,1.000000,0.000000,35.450000,401.587500
50%,0.000000,1.000000,1.000000,0.000000,70.350000,1397.100000
75%,0.000000,2.000000,2.000000,1.000000,89.850000,3793.775000
max,1.000000,2.000000,2.000000,2.000000,118.750000,8684.800000

## Make a new python module, acquire.py to hold the following data aquisition functions:

In [27]:
import acquire

1. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [28]:
acquire.get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

2. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [29]:
acquire.get_iris_data()

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id.1,species_name
0,1,5.1,3.5,1.4,0.2,1,1,setosa
1,2,4.9,3.0,1.4,0.2,1,1,setosa
2,3,4.7,3.2,1.3,0.2,1,1,setosa
3,4,4.6,3.1,1.5,0.2,1,1,setosa
4,5,5.0,3.6,1.4,0.2,1,1,setosa
5,6,5.4,3.9,1.7,0.4,1,1,setosa
6,7,4.6,3.4,1.4,0.3,1,1,setosa
7,8,5.0,3.4,1.5,0.2,1,1,setosa
8,9,4.4,2.9,1.4,0.2,1,1,setosa
9,10,4.9,3.1,1.5,0.1,1,1,setosa
10,11,5.4,3.7,1.5,0.2,1,1,setosa
11,12,4.8,3.4,1.6,0.2,1,1,setosa
12,13,4.8,3.0,1.4,0.1,1,1,setosa
13,14,4.3,3.0,1.1,0.1,1,1,setosa
14,15,5.8,4.0,1.2,0.2,1,1,setosa
15,16,5.7,4.4,1.5,0.4,1,1,setosa
16,17,5.4,3.9,1.3,0.4,1,1,setosa
17,18,5.1,3.5,1.4,0.3,1,1,setosa
18,19,5.7,3.8,1.7,0.3,1,1,setosa
19,20,5.1,3.8,1.5,0.3,1,1,setosa
20,21,5.4,3.4,1.7,0.2,1,1,setosa
21,22,5.1,3.7,1.5,0.4,1,1,setosa
22,23,4.6,3.6,1.0,0.2,1,1,setosa
23,24,5.1,3.3,1.7,0.5,1,1,setosa
24,25,4.8,3.4,1.9,0.2,1,1,setosa
25,26,5.0,3.0,1.6,0.2,1,1,setosa
26,27,5.0,3.4,1.6,0.4,1,1,setosa
27,28,5.2,3.5,1.5,0.2,1,1,setosa
28,29,5.2,3.4,1.4,0.2,1,1,setosa
29,30,4.7,3.2,1.6,0.2,1,1,setosa
30,31,4.8,3.1,1.6,0.2,1,1,setosa
31,32,5.4,3.4,1.5,0.4,1,1,setosa
32,33,5.2,4.1,1.5,0.1,1,1,setosa
33,34,5.5,4.2,1.4,0.2,1,1,setosa
34,35,4.9,3.1,1.5,0.2,1,1,setosa
35,36,5.0,3.2,1.2,0.2,1,1,setosa
36,37,5.5,3.5,1.3,0.2,1,1,setosa
37,38,4.9,3.6,1.4,0.1,1,1,setosa
38,39,4.4,3.0,1.3,0.2,1,1,setosa
39,40,5.1,3.4,1.5,0.2,1,1,setosa
40,41,5.0,3.5,1.3,0.3,1,1,setosa
41,42,4.5,2.3,1.3,0.3,1,1,setosa
42,43,4.4,3.2,1.3,0.2,1,1,setosa
43,44,5.0,3.5,1.6,0.6,1,1,setosa
44,45,5.1,3.8,1.9,0.4,1,1,setosa
45,46,4.8,3.0,1.4,0.3,1,1,setosa
46,47,5.1,3.8,1.6,0.2,1,1,setosa
47,48,4.6,3.2,1.4,0.2,1,1,setosa
48,49,5.3,3.7,1.5,0.2,1,1,setosa
49,50,5.0,3.3,1.4,0.2,1,1,setosa
50,51,7.0,3.2,4.7,1.4,2,2,versicolor
51,52,6.4,3.2,4.5,1.5,2,2,versicolor
52,53,6.9,3.1,4.9,1.5,2,2,versicolor
53,54,5.5,2.3,4.0,1.3,2,2,versicolor
54,55,6.5,2.8,4.6,1.5,2,2,versicolor
55,56,5.7,2.8,4.5,1.3,2,2,versicolor
56,57,6.3,3.3,4.7,1.6,2,2,versicolor
57,58,4.9,2.4,3.3,1.0,2,2,versicolor
58,59,6.6,2.9,4.6,1.3,2,2,versicolor
59,60,5.2,2.7,3.9,1.4,2,2,versicolor
60,61,5.0,2.0,3.5,1.0,2,2,versicolor
61,62,5.9,3.0,4.2,1.5,2,2,versicolor
62,63,6.0,2.2,4.0,1.0,2,2,versicolor
63,64,6.1,2.9,4.7,1.4,2,2,versicolor
64,65,5.6,2.9,3.6,1.3,2,2,versicolor
65,66,6.7,3.1,4.4,1.4,2,2,versicolor
66,67,5.6,3.0,4.5,1.5,2,2,versicolor
67,68,5.8,2.7,4.1,1.0,2,2,versicolor
68,69,6.2,2.2,4.5,1.5,2,2,versicolor
69,70,5.6,2.5,3.9,1.1,2,2,versicolor
70,71,5.9,3.2,4.8,1.8,2,2,versicolor
71,72,6.1,2.8,4.0,1.3,2,2,versicolor
72,73,6.3,2.5,4.9,1.5,2,2,versicolor
73,74,6.1,2.8,4.7,1.2,2,2,versicolor
74,75,6.4,2.9,4.3,1.3,2,2,versicolor
75,76,6.6,3.0,4.4,1.4,2,2,versicolor
76,77,6.8,2.8,4.8,1.4,2,2,versicolor
77,78,6.7,3.0,5.0,1.7,2,2,versicolor
78,79,6.0,2.9,4.5,1.5,2,2,versicolor
79,80,5.7,2.6,3.5,1.0,2,2,versicolor
80,81,5.5,2.4,3.8,1.1,2,2,versicolor
81,82,5.5,2.4,3.7,1.0,2,2,versicolor
82,83,5.8,2.7,3.9,1.2,2,2,versicolor
83,84,6.0,2.7,5.1,1.6,2,2,versicolor
84,85,5.4,3.0,4.5,1.5,2,2,versicolor
85,86,6.0,3.4,4.5,1.6,2,2,versicolor
86,87,6.7,3.1,4.7,1.5,2,2,versicolor
87,88,6.3,2.3,4.4,1.3,2,2,versicolor
88,89,5.6,3.0,4.1,1.3,2,2,versicolor
89,90,5.5,2.5,4.0,1.3,2,2,versicolor
90,91,5.5,2.6,4.4,1.2,2,2,versicolor
91,92,6.1,3.0,4.6,1.4,2,2,versicolor
92,93,5.8,2.6,4.0,1.2,2,2,versicolor
93,94,5.0,2.3,3.3,1.0,2,2,versicolor
94,95,5.6,2.7,4.2,1.3,2,2,versicolor
95,96,5.7,3.0,4.2,1.2,2,2,versicolor
96,97,5.7,2.9,4.2,1.3,2,2,versicolor
97,98,6.2,2.9,4.3,1.3,2,2,versicolor
98,99,5.1,2.5,3.0,1.1,2,2,versicolor
99,100,5.7,2.8,4.1,1.3,2,2,versicolor
100,101,6.3,3.3,6.0,2.5,3,3,virginica
101,102,5.8,2.7,5.1,1.9,3,3,virginica
102,103,7.1,3.0,5.9,2.1,3,3,virginica
103,104,6.3,2.9,5.6,1.8,3,3,virginica
104,105,6.5,3.0,5.8,2.2,3,3,virginica
105,106,7.6,3.0,6.6,2.1,3,3,virginica
106,107,4.9,2.5,4.5,1.7,3,3,virginica
107,108,7.3,2.9,6.3,1.8,3,3,virginica
108,109,6.7,2.5,5.8,1.8,3,3,virginica
109,110,7.2,3.6,6.1,2.5,3,3,virginica
110,111,6.5,3.2,5.1,2.0,3,3,virginica
111,112,6.4,2.7,5.3,1.9,3,3,virginica
112,113,6.8,3.0,5.5,2.1,3,3,virginica
113,114,5.7,2.5,5.0,2.0,3,3,virginica
114,115,5.8,2.8,5.1,2.4,3,3,virginica
115,116,6.4,3.2,5.3,2.3,3,3,virginica
116,117,6.5,3.0,5.5,1.8,3,3,virginica
117,118,7.7,3.8,6.7,2.2,3,3,virginica
118,119,7.7,2.6,6.9,2.3,3,3,virginica
119,120,6.0,2.2,5.0,1.5,3,3,virginica
120,121,6.9,3.2,5.7,2.3,3,3,virginica
121,122,5.6,2.8,4.9,2.0,3,3,virginica
122,123,7.7,2.8,6.7,2.0,3,3,virginica
123,124,6.3,2.7,4.9,1.8,3,3,virginica
124,125,6.7,3.3,5.7,2.1,3,3,virginica
125,126,7.2,3.2,6.0,1.8,3,3,virginica
126,127,6.2,2.8,4.8,1.8,3,3,virginica
127,128,6.1,3.0,4.9,1.8,3,3,virginica
128,129,6.4,2.8,5.6,2.1,3,3,virginica
129,130,7.2,3.0,5.8,1.6,3,3,virginica
130,131,7.4,2.8,6.1,1.9,3,3,virginica
131,132,7.9,3.8,6.4,2.0,3,3,virginica
132,133,6.4,2.8,5.6,2.2,3,3,virginica
133,134,6.3,2.8,5.1,1.5,3,3,virginica
134,135,6.1,2.6,5.6,1.4,3,3,virginica
135,136,7.7,3.0,6.1,2.3,3,3,virginica
136,137,6.3,3.4,5.6,2.4,3,3,virginica
137,138,6.4,3.1,5.5,1.8,3,3,virginica
138,139,6.0,3.0,4.8,1.8,3,3,virginica
139,140,6.9,3.1,5.4,2.1,3,3,virginica
140,141,6.7,3.1,5.6,2.4,3,3,virginica
141,142,6.9,3.1,5.1,2.3,3,3,virginica
142,143,5.8,2.7,5.1,1.9,3,3,virginica
143,144,6.8,3.2,5.9,2.3,3,3,virginica
144,145,6.7,3.3,5.7,2.5,3,3,virginica
145,146,6.7,3.0,5.2,2.3,3,3,virginica
146,147,6.3,2.5,5.0,1.9,3,3,virginica
147,148,6.5,3.0,5.2,2.0,3,3,virginica
148,149,6.2,3.4,5.4,2.3,3,3,virginica
149,150,5.9,3.0,5.1,1.8,3,3,virginica

3. Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [30]:
acquire.get_telco_data()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type,paperless_billing,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,Fiber optic,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,DSL,Yes,...,No,Yes,No,No,One year,No,Mailed check,55.15,742.9,No
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7,Yes
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,No
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,...,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,No
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6,No

4. Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

# Make sure your env.py and csv files are not being pushed to GitHub!

# Exercises
The end product of this exercise should be the specified functions in a python script named `prepare.py`. Do these in your classification_exercises.ipynb first, then transfer to the `prepare.py` file.

This work should all be saved in your `local classification-exercises` repo. Then add, commit, and push your changes.

Using the Iris Data:

1. Use the function defined in acquire.py to load the iris data.

In [31]:
df_iris = acquire.get_iris_data()
df_iris

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id.1,species_name
0,1,5.1,3.5,1.4,0.2,1,1,setosa
1,2,4.9,3.0,1.4,0.2,1,1,setosa
2,3,4.7,3.2,1.3,0.2,1,1,setosa
3,4,4.6,3.1,1.5,0.2,1,1,setosa
4,5,5.0,3.6,1.4,0.2,1,1,setosa
5,6,5.4,3.9,1.7,0.4,1,1,setosa
6,7,4.6,3.4,1.4,0.3,1,1,setosa
7,8,5.0,3.4,1.5,0.2,1,1,setosa
8,9,4.4,2.9,1.4,0.2,1,1,setosa
9,10,4.9,3.1,1.5,0.1,1,1,setosa
10,11,5.4,3.7,1.5,0.2,1,1,setosa
11,12,4.8,3.4,1.6,0.2,1,1,setosa
12,13,4.8,3.0,1.4,0.1,1,1,setosa
13,14,4.3,3.0,1.1,0.1,1,1,setosa
14,15,5.8,4.0,1.2,0.2,1,1,setosa
15,16,5.7,4.4,1.5,0.4,1,1,setosa
16,17,5.4,3.9,1.3,0.4,1,1,setosa
17,18,5.1,3.5,1.4,0.3,1,1,setosa
18,19,5.7,3.8,1.7,0.3,1,1,setosa
19,20,5.1,3.8,1.5,0.3,1,1,setosa
20,21,5.4,3.4,1.7,0.2,1,1,setosa
21,22,5.1,3.7,1.5,0.4,1,1,setosa
22,23,4.6,3.6,1.0,0.2,1,1,setosa
23,24,5.1,3.3,1.7,0.5,1,1,setosa
24,25,4.8,3.4,1.9,0.2,1,1,setosa
25,26,5.0,3.0,1.6,0.2,1,1,setosa
26,27,5.0,3.4,1.6,0.4,1,1,setosa
27,28,5.2,3.5,1.5,0.2,1,1,setosa
28,29,5.2,3.4,1.4,0.2,1,1,setosa
29,30,4.7,3.2,1.6,0.2,1,1,setosa
30,31,4.8,3.1,1.6,0.2,1,1,setosa
31,32,5.4,3.4,1.5,0.4,1,1,setosa
32,33,5.2,4.1,1.5,0.1,1,1,setosa
33,34,5.5,4.2,1.4,0.2,1,1,setosa
34,35,4.9,3.1,1.5,0.2,1,1,setosa
35,36,5.0,3.2,1.2,0.2,1,1,setosa
36,37,5.5,3.5,1.3,0.2,1,1,setosa
37,38,4.9,3.6,1.4,0.1,1,1,setosa
38,39,4.4,3.0,1.3,0.2,1,1,setosa
39,40,5.1,3.4,1.5,0.2,1,1,setosa
40,41,5.0,3.5,1.3,0.3,1,1,setosa
41,42,4.5,2.3,1.3,0.3,1,1,setosa
42,43,4.4,3.2,1.3,0.2,1,1,setosa
43,44,5.0,3.5,1.6,0.6,1,1,setosa
44,45,5.1,3.8,1.9,0.4,1,1,setosa
45,46,4.8,3.0,1.4,0.3,1,1,setosa
46,47,5.1,3.8,1.6,0.2,1,1,setosa
47,48,4.6,3.2,1.4,0.2,1,1,setosa
48,49,5.3,3.7,1.5,0.2,1,1,setosa
49,50,5.0,3.3,1.4,0.2,1,1,setosa
50,51,7.0,3.2,4.7,1.4,2,2,versicolor
51,52,6.4,3.2,4.5,1.5,2,2,versicolor
52,53,6.9,3.1,4.9,1.5,2,2,versicolor
53,54,5.5,2.3,4.0,1.3,2,2,versicolor
54,55,6.5,2.8,4.6,1.5,2,2,versicolor
55,56,5.7,2.8,4.5,1.3,2,2,versicolor
56,57,6.3,3.3,4.7,1.6,2,2,versicolor
57,58,4.9,2.4,3.3,1.0,2,2,versicolor
58,59,6.6,2.9,4.6,1.3,2,2,versicolor
59,60,5.2,2.7,3.9,1.4,2,2,versicolor
60,61,5.0,2.0,3.5,1.0,2,2,versicolor
61,62,5.9,3.0,4.2,1.5,2,2,versicolor
62,63,6.0,2.2,4.0,1.0,2,2,versicolor
63,64,6.1,2.9,4.7,1.4,2,2,versicolor
64,65,5.6,2.9,3.6,1.3,2,2,versicolor
65,66,6.7,3.1,4.4,1.4,2,2,versicolor
66,67,5.6,3.0,4.5,1.5,2,2,versicolor
67,68,5.8,2.7,4.1,1.0,2,2,versicolor
68,69,6.2,2.2,4.5,1.5,2,2,versicolor
69,70,5.6,2.5,3.9,1.1,2,2,versicolor
70,71,5.9,3.2,4.8,1.8,2,2,versicolor
71,72,6.1,2.8,4.0,1.3,2,2,versicolor
72,73,6.3,2.5,4.9,1.5,2,2,versicolor
73,74,6.1,2.8,4.7,1.2,2,2,versicolor
74,75,6.4,2.9,4.3,1.3,2,2,versicolor
75,76,6.6,3.0,4.4,1.4,2,2,versicolor
76,77,6.8,2.8,4.8,1.4,2,2,versicolor
77,78,6.7,3.0,5.0,1.7,2,2,versicolor
78,79,6.0,2.9,4.5,1.5,2,2,versicolor
79,80,5.7,2.6,3.5,1.0,2,2,versicolor
80,81,5.5,2.4,3.8,1.1,2,2,versicolor
81,82,5.5,2.4,3.7,1.0,2,2,versicolor
82,83,5.8,2.7,3.9,1.2,2,2,versicolor
83,84,6.0,2.7,5.1,1.6,2,2,versicolor
84,85,5.4,3.0,4.5,1.5,2,2,versicolor
85,86,6.0,3.4,4.5,1.6,2,2,versicolor
86,87,6.7,3.1,4.7,1.5,2,2,versicolor
87,88,6.3,2.3,4.4,1.3,2,2,versicolor
88,89,5.6,3.0,4.1,1.3,2,2,versicolor
89,90,5.5,2.5,4.0,1.3,2,2,versicolor
90,91,5.5,2.6,4.4,1.2,2,2,versicolor
91,92,6.1,3.0,4.6,1.4,2,2,versicolor
92,93,5.8,2.6,4.0,1.2,2,2,versicolor
93,94,5.0,2.3,3.3,1.0,2,2,versicolor
94,95,5.6,2.7,4.2,1.3,2,2,versicolor
95,96,5.7,3.0,4.2,1.2,2,2,versicolor
96,97,5.7,2.9,4.2,1.3,2,2,versicolor
97,98,6.2,2.9,4.3,1.3,2,2,versicolor
98,99,5.1,2.5,3.0,1.1,2,2,versicolor
99,100,5.7,2.8,4.1,1.3,2,2,versicolor
100,101,6.3,3.3,6.0,2.5,3,3,virginica
101,102,5.8,2.7,5.1,1.9,3,3,virginica
102,103,7.1,3.0,5.9,2.1,3,3,virginica
103,104,6.3,2.9,5.6,1.8,3,3,virginica
104,105,6.5,3.0,5.8,2.2,3,3,virginica
105,106,7.6,3.0,6.6,2.1,3,3,virginica
106,107,4.9,2.5,4.5,1.7,3,3,virginica
107,108,7.3,2.9,6.3,1.8,3,3,virginica
108,109,6.7,2.5,5.8,1.8,3,3,virginica
109,110,7.2,3.6,6.1,2.5,3,3,virginica
110,111,6.5,3.2,5.1,2.0,3,3,virginica
111,112,6.4,2.7,5.3,1.9,3,3,virginica
112,113,6.8,3.0,5.5,2.1,3,3,virginica
113,114,5.7,2.5,5.0,2.0,3,3,virginica
114,115,5.8,2.8,5.1,2.4,3,3,virginica
115,116,6.4,3.2,5.3,2.3,3,3,virginica
116,117,6.5,3.0,5.5,1.8,3,3,virginica
117,118,7.7,3.8,6.7,2.2,3,3,virginica
118,119,7.7,2.6,6.9,2.3,3,3,virginica
119,120,6.0,2.2,5.0,1.5,3,3,virginica
120,121,6.9,3.2,5.7,2.3,3,3,virginica
121,122,5.6,2.8,4.9,2.0,3,3,virginica
122,123,7.7,2.8,6.7,2.0,3,3,virginica
123,124,6.3,2.7,4.9,1.8,3,3,virginica
124,125,6.7,3.3,5.7,2.1,3,3,virginica
125,126,7.2,3.2,6.0,1.8,3,3,virginica
126,127,6.2,2.8,4.8,1.8,3,3,virginica
127,128,6.1,3.0,4.9,1.8,3,3,virginica
128,129,6.4,2.8,5.6,2.1,3,3,virginica
129,130,7.2,3.0,5.8,1.6,3,3,virginica
130,131,7.4,2.8,6.1,1.9,3,3,virginica
131,132,7.9,3.8,6.4,2.0,3,3,virginica
132,133,6.4,2.8,5.6,2.2,3,3,virginica
133,134,6.3,2.8,5.1,1.5,3,3,virginica
134,135,6.1,2.6,5.6,1.4,3,3,virginica
135,136,7.7,3.0,6.1,2.3,3,3,virginica
136,137,6.3,3.4,5.6,2.4,3,3,virginica
137,138,6.4,3.1,5.5,1.8,3,3,virginica
138,139,6.0,3.0,4.8,1.8,3,3,virginica
139,140,6.9,3.1,5.4,2.1,3,3,virginica
140,141,6.7,3.1,5.6,2.4,3,3,virginica
141,142,6.9,3.1,5.1,2.3,3,3,virginica
142,143,5.8,2.7,5.1,1.9,3,3,virginica
143,144,6.8,3.2,5.9,2.3,3,3,virginica
144,145,6.7,3.3,5.7,2.5,3,3,virginica
145,146,6.7,3.0,5.2,2.3,3,3,virginica
146,147,6.3,2.5,5.0,1.9,3,3,virginica
147,148,6.5,3.0,5.2,2.0,3,3,virginica
148,149,6.2,3.4,5.4,2.3,3,3,virginica
149,150,5.9,3.0,5.1,1.8,3,3,virginica

2. Drop the species_id and measurement_id columns.

In [32]:
df_iris.drop(columns=['measurement_id', 'species_id', 'species_id.1'], inplace=True)

3. Rename the species_name column to just species.

In [33]:
df_iris.rename(columns = {'species_name':'species'}, inplace=True)

4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [34]:
dummy_df = pd.get_dummies(df_iris.species, drop_first=True)

In [35]:
pd.concat([df_iris, dummy_df], axis=1)

,sepal_length,sepal_width,petal_length,petal_width,species,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
5,5.4,3.9,1.7,0.4,setosa,0,0
6,4.6,3.4,1.4,0.3,setosa,0,0
7,5.0,3.4,1.5,0.2,setosa,0,0
8,4.4,2.9,1.4,0.2,setosa,0,0
9,4.9,3.1,1.5,0.1,setosa,0,0
10,5.4,3.7,1.5,0.2,setosa,0,0
11,4.8,3.4,1.6,0.2,setosa,0,0
12,4.8,3.0,1.4,0.1,setosa,0,0
13,4.3,3.0,1.1,0.1,setosa,0,0
14,5.8,4.0,1.2,0.2,setosa,0,0
15,5.7,4.4,1.5,0.4,setosa,0,0
16,5.4,3.9,1.3,0.4,setosa,0,0
17,5.1,3.5,1.4,0.3,setosa,0,0
18,5.7,3.8,1.7,0.3,setosa,0,0
19,5.1,3.8,1.5,0.3,setosa,0,0
20,5.4,3.4,1.7,0.2,setosa,0,0
21,5.1,3.7,1.5,0.4,setosa,0,0
22,4.6,3.6,1.0,0.2,setosa,0,0
23,5.1,3.3,1.7,0.5,setosa,0,0
24,4.8,3.4,1.9,0.2,setosa,0,0
25,5.0,3.0,1.6,0.2,setosa,0,0
26,5.0,3.4,1.6,0.4,setosa,0,0
27,5.2,3.5,1.5,0.2,setosa,0,0
28,5.2,3.4,1.4,0.2,setosa,0,0
29,4.7,3.2,1.6,0.2,setosa,0,0
30,4.8,3.1,1.6,0.2,setosa,0,0
31,5.4,3.4,1.5,0.4,setosa,0,0
32,5.2,4.1,1.5,0.1,setosa,0,0
33,5.5,4.2,1.4,0.2,setosa,0,0
34,4.9,3.1,1.5,0.2,setosa,0,0
35,5.0,3.2,1.2,0.2,setosa,0,0
36,5.5,3.5,1.3,0.2,setosa,0,0
37,4.9,3.6,1.4,0.1,setosa,0,0
38,4.4,3.0,1.3,0.2,setosa,0,0
39,5.1,3.4,1.5,0.2,setosa,0,0
40,5.0,3.5,1.3,0.3,setosa,0,0
41,4.5,2.3,1.3,0.3,setosa,0,0
42,4.4,3.2,1.3,0.2,setosa,0,0
43,5.0,3.5,1.6,0.6,setosa,0,0
44,5.1,3.8,1.9,0.4,setosa,0,0
45,4.8,3.0,1.4,0.3,setosa,0,0
46,5.1,3.8,1.6,0.2,setosa,0,0
47,4.6,3.2,1.4,0.2,setosa,0,0
48,5.3,3.7,1.5,0.2,setosa,0,0
49,5.0,3.3,1.4,0.2,setosa,0,0
50,7.0,3.2,4.7,1.4,versicolor,1,0
51,6.4,3.2,4.5,1.5,versicolor,1,0
52,6.9,3.1,4.9,1.5,versicolor,1,0
53,5.5,2.3,4.0,1.3,versicolor,1,0
54,6.5,2.8,4.6,1.5,versicolor,1,0
55,5.7,2.8,4.5,1.3,versicolor,1,0
56,6.3,3.3,4.7,1.6,versicolor,1,0
57,4.9,2.4,3.3,1.0,versicolor,1,0
58,6.6,2.9,4.6,1.3,versicolor,1,0
59,5.2,2.7,3.9,1.4,versicolor,1,0
60,5.0,2.0,3.5,1.0,versicolor,1,0
61,5.9,3.0,4.2,1.5,versicolor,1,0
62,6.0,2.2,4.0,1.0,versicolor,1,0
63,6.1,2.9,4.7,1.4,versicolor,1,0
64,5.6,2.9,3.6,1.3,versicolor,1,0
65,6.7,3.1,4.4,1.4,versicolor,1,0
66,5.6,3.0,4.5,1.5,versicolor,1,0
67,5.8,2.7,4.1,1.0,versicolor,1,0
68,6.2,2.2,4.5,1.5,versicolor,1,0
69,5.6,2.5,3.9,1.1,versicolor,1,0
70,5.9,3.2,4.8,1.8,versicolor,1,0
71,6.1,2.8,4.0,1.3,versicolor,1,0
72,6.3,2.5,4.9,1.5,versicolor,1,0
73,6.1,2.8,4.7,1.2,versicolor,1,0
74,6.4,2.9,4.3,1.3,versicolor,1,0
75,6.6,3.0,4.4,1.4,versicolor,1,0
76,6.8,2.8,4.8,1.4,versicolor,1,0
77,6.7,3.0,5.0,1.7,versicolor,1,0
78,6.0,2.9,4.5,1.5,versicolor,1,0
79,5.7,2.6,3.5,1.0,versicolor,1,0
80,5.5,2.4,3.8,1.1,versicolor,1,0
81,5.5,2.4,3.7,1.0,versicolor,1,0
82,5.8,2.7,3.9,1.2,versicolor,1,0
83,6.0,2.7,5.1,1.6,versicolor,1,0
84,5.4,3.0,4.5,1.5,versicolor,1,0
85,6.0,3.4,4.5,1.6,versicolor,1,0
86,6.7,3.1,4.7,1.5,versicolor,1,0
87,6.3,2.3,4.4,1.3,versicolor,1,0
88,5.6,3.0,4.1,1.3,versicolor,1,0
89,5.5,2.5,4.0,1.3,versicolor,1,0
90,5.5,2.6,4.4,1.2,versicolor,1,0
91,6.1,3.0,4.6,1.4,versicolor,1,0
92,5.8,2.6,4.0,1.2,versicolor,1,0
93,5.0,2.3,3.3,1.0,versicolor,1,0
94,5.6,2.7,4.2,1.3,versicolor,1,0
95,5.7,3.0,4.2,1.2,versicolor,1,0
96,5.7,2.9,4.2,1.3,versicolor,1,0
97,6.2,2.9,4.3,1.3,versicolor,1,0
98,5.1,2.5,3.0,1.1,versicolor,1,0
99,5.7,2.8,4.1,1.3,versicolor,1,0
100,6.3,3.3,6.0,2.5,virginica,0,1
101,5.8,2.7,5.1,1.9,virginica,0,1
102,7.1,3.0,5.9,2.1,virginica,0,1
103,6.3,2.9,5.6,1.8,virginica,0,1
104,6.5,3.0,5.8,2.2,virginica,0,1
105,7.6,3.0,6.6,2.1,virginica,0,1
106,4.9,2.5,4.5,1.7,virginica,0,1
107,7.3,2.9,6.3,1.8,virginica,0,1
108,6.7,2.5,5.8,1.8,virginica,0,1
109,7.2,3.6,6.1,2.5,virginica,0,1
110,6.5,3.2,5.1,2.0,virginica,0,1
111,6.4,2.7,5.3,1.9,virginica,0,1
112,6.8,3.0,5.5,2.1,virginica,0,1
113,5.7,2.5,5.0,2.0,virginica,0,1
114,5.8,2.8,5.1,2.4,virginica,0,1
115,6.4,3.2,5.3,2.3,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
117,7.7,3.8,6.7,2.2,virginica,0,1
118,7.7,2.6,6.9,2.3,virginica,0,1
119,6.0,2.2,5.0,1.5,virginica,0,1
120,6.9,3.2,5.7,2.3,virginica,0,1
121,5.6,2.8,4.9,2.0,virginica,0,1
122,7.7,2.8,6.7,2.0,virginica,0,1
123,6.3,2.7,4.9,1.8,virginica,0,1
124,6.7,3.3,5.7,2.1,virginica,0,1
125,7.2,3.2,6.0,1.8,virginica,0,1
126,6.2,2.8,4.8,1.8,virginica,0,1
127,6.1,3.0,4.9,1.8,virginica,0,1
128,6.4,2.8,5.6,2.1,virginica,0,1
129,7.2,3.0,5.8,1.6,virginica,0,1
130,7.4,2.8,6.1,1.9,virginica,0,1
131,7.9,3.8,6.4,2.0,virginica,0,1
132,6.4,2.8,5.6,2.2,virginica,0,1
133,6.3,2.8,5.1,1.5,virginica,0,1
134,6.1,2.6,5.6,1.4,virginica,0,1
135,7.7,3.0,6.1,2.3,virginica,0,1
136,6.3,3.4,5.6,2.4,virginica,0,1
137,6.4,3.1,5.5,1.8,virginica,0,1
138,6.0,3.0,4.8,1.8,virginica,0,1
139,6.9,3.1,5.4,2.1,virginica,0,1
140,6.7,3.1,5.6,2.4,virginica,0,1
141,6.9,3.1,5.1,2.3,virginica,0,1
142,5.8,2.7,5.1,1.9,virginica,0,1
143,6.8,3.2,5.9,2.3,virginica,0,1
144,6.7,3.3,5.7,2.5,virginica,0,1
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1

5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [36]:
def prep_iris():
    df_iris = acquire.get_iris_data()
    df_iris.drop(columns=['measurement_id', 'species_id', 'species_id.1'], inplace=True)
    df_iris.rename(columns = {'species_name':'species'}, inplace=True)
    dummy_df = pd.get_dummies(df_iris.species, drop_first=True)
    return pd.concat([df_iris, dummy_df], axis=1)

In [37]:
prep_iris()

,sepal_length,sepal_width,petal_length,petal_width,species,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
5,5.4,3.9,1.7,0.4,setosa,0,0
6,4.6,3.4,1.4,0.3,setosa,0,0
7,5.0,3.4,1.5,0.2,setosa,0,0
8,4.4,2.9,1.4,0.2,setosa,0,0
9,4.9,3.1,1.5,0.1,setosa,0,0
10,5.4,3.7,1.5,0.2,setosa,0,0
11,4.8,3.4,1.6,0.2,setosa,0,0
12,4.8,3.0,1.4,0.1,setosa,0,0
13,4.3,3.0,1.1,0.1,setosa,0,0
14,5.8,4.0,1.2,0.2,setosa,0,0
15,5.7,4.4,1.5,0.4,setosa,0,0
16,5.4,3.9,1.3,0.4,setosa,0,0
17,5.1,3.5,1.4,0.3,setosa,0,0
18,5.7,3.8,1.7,0.3,setosa,0,0
19,5.1,3.8,1.5,0.3,setosa,0,0
20,5.4,3.4,1.7,0.2,setosa,0,0
21,5.1,3.7,1.5,0.4,setosa,0,0
22,4.6,3.6,1.0,0.2,setosa,0,0
23,5.1,3.3,1.7,0.5,setosa,0,0
24,4.8,3.4,1.9,0.2,setosa,0,0
25,5.0,3.0,1.6,0.2,setosa,0,0
26,5.0,3.4,1.6,0.4,setosa,0,0
27,5.2,3.5,1.5,0.2,setosa,0,0
28,5.2,3.4,1.4,0.2,setosa,0,0
29,4.7,3.2,1.6,0.2,setosa,0,0
30,4.8,3.1,1.6,0.2,setosa,0,0
31,5.4,3.4,1.5,0.4,setosa,0,0
32,5.2,4.1,1.5,0.1,setosa,0,0
33,5.5,4.2,1.4,0.2,setosa,0,0
34,4.9,3.1,1.5,0.2,setosa,0,0
35,5.0,3.2,1.2,0.2,setosa,0,0
36,5.5,3.5,1.3,0.2,setosa,0,0
37,4.9,3.6,1.4,0.1,setosa,0,0
38,4.4,3.0,1.3,0.2,setosa,0,0
39,5.1,3.4,1.5,0.2,setosa,0,0
40,5.0,3.5,1.3,0.3,setosa,0,0
41,4.5,2.3,1.3,0.3,setosa,0,0
42,4.4,3.2,1.3,0.2,setosa,0,0
43,5.0,3.5,1.6,0.6,setosa,0,0
44,5.1,3.8,1.9,0.4,setosa,0,0
45,4.8,3.0,1.4,0.3,setosa,0,0
46,5.1,3.8,1.6,0.2,setosa,0,0
47,4.6,3.2,1.4,0.2,setosa,0,0
48,5.3,3.7,1.5,0.2,setosa,0,0
49,5.0,3.3,1.4,0.2,setosa,0,0
50,7.0,3.2,4.7,1.4,versicolor,1,0
51,6.4,3.2,4.5,1.5,versicolor,1,0
52,6.9,3.1,4.9,1.5,versicolor,1,0
53,5.5,2.3,4.0,1.3,versicolor,1,0
54,6.5,2.8,4.6,1.5,versicolor,1,0
55,5.7,2.8,4.5,1.3,versicolor,1,0
56,6.3,3.3,4.7,1.6,versicolor,1,0
57,4.9,2.4,3.3,1.0,versicolor,1,0
58,6.6,2.9,4.6,1.3,versicolor,1,0
59,5.2,2.7,3.9,1.4,versicolor,1,0
60,5.0,2.0,3.5,1.0,versicolor,1,0
61,5.9,3.0,4.2,1.5,versicolor,1,0
62,6.0,2.2,4.0,1.0,versicolor,1,0
63,6.1,2.9,4.7,1.4,versicolor,1,0
64,5.6,2.9,3.6,1.3,versicolor,1,0
65,6.7,3.1,4.4,1.4,versicolor,1,0
66,5.6,3.0,4.5,1.5,versicolor,1,0
67,5.8,2.7,4.1,1.0,versicolor,1,0
68,6.2,2.2,4.5,1.5,versicolor,1,0
69,5.6,2.5,3.9,1.1,versicolor,1,0
70,5.9,3.2,4.8,1.8,versicolor,1,0
71,6.1,2.8,4.0,1.3,versicolor,1,0
72,6.3,2.5,4.9,1.5,versicolor,1,0
73,6.1,2.8,4.7,1.2,versicolor,1,0
74,6.4,2.9,4.3,1.3,versicolor,1,0
75,6.6,3.0,4.4,1.4,versicolor,1,0
76,6.8,2.8,4.8,1.4,versicolor,1,0
77,6.7,3.0,5.0,1.7,versicolor,1,0
78,6.0,2.9,4.5,1.5,versicolor,1,0
79,5.7,2.6,3.5,1.0,versicolor,1,0
80,5.5,2.4,3.8,1.1,versicolor,1,0
81,5.5,2.4,3.7,1.0,versicolor,1,0
82,5.8,2.7,3.9,1.2,versicolor,1,0
83,6.0,2.7,5.1,1.6,versicolor,1,0
84,5.4,3.0,4.5,1.5,versicolor,1,0
85,6.0,3.4,4.5,1.6,versicolor,1,0
86,6.7,3.1,4.7,1.5,versicolor,1,0
87,6.3,2.3,4.4,1.3,versicolor,1,0
88,5.6,3.0,4.1,1.3,versicolor,1,0
89,5.5,2.5,4.0,1.3,versicolor,1,0
90,5.5,2.6,4.4,1.2,versicolor,1,0
91,6.1,3.0,4.6,1.4,versicolor,1,0
92,5.8,2.6,4.0,1.2,versicolor,1,0
93,5.0,2.3,3.3,1.0,versicolor,1,0
94,5.6,2.7,4.2,1.3,versicolor,1,0
95,5.7,3.0,4.2,1.2,versicolor,1,0
96,5.7,2.9,4.2,1.3,versicolor,1,0
97,6.2,2.9,4.3,1.3,versicolor,1,0
98,5.1,2.5,3.0,1.1,versicolor,1,0
99,5.7,2.8,4.1,1.3,versicolor,1,0
100,6.3,3.3,6.0,2.5,virginica,0,1
101,5.8,2.7,5.1,1.9,virginica,0,1
102,7.1,3.0,5.9,2.1,virginica,0,1
103,6.3,2.9,5.6,1.8,virginica,0,1
104,6.5,3.0,5.8,2.2,virginica,0,1
105,7.6,3.0,6.6,2.1,virginica,0,1
106,4.9,2.5,4.5,1.7,virginica,0,1
107,7.3,2.9,6.3,1.8,virginica,0,1
108,6.7,2.5,5.8,1.8,virginica,0,1
109,7.2,3.6,6.1,2.5,virginica,0,1
110,6.5,3.2,5.1,2.0,virginica,0,1
111,6.4,2.7,5.3,1.9,virginica,0,1
112,6.8,3.0,5.5,2.1,virginica,0,1
113,5.7,2.5,5.0,2.0,virginica,0,1
114,5.8,2.8,5.1,2.4,virginica,0,1
115,6.4,3.2,5.3,2.3,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
117,7.7,3.8,6.7,2.2,virginica,0,1
118,7.7,2.6,6.9,2.3,virginica,0,1
119,6.0,2.2,5.0,1.5,virginica,0,1
120,6.9,3.2,5.7,2.3,virginica,0,1
121,5.6,2.8,4.9,2.0,virginica,0,1
122,7.7,2.8,6.7,2.0,virginica,0,1
123,6.3,2.7,4.9,1.8,virginica,0,1
124,6.7,3.3,5.7,2.1,virginica,0,1
125,7.2,3.2,6.0,1.8,virginica,0,1
126,6.2,2.8,4.8,1.8,virginica,0,1
127,6.1,3.0,4.9,1.8,virginica,0,1
128,6.4,2.8,5.6,2.1,virginica,0,1
129,7.2,3.0,5.8,1.6,virginica,0,1
130,7.4,2.8,6.1,1.9,virginica,0,1
131,7.9,3.8,6.4,2.0,virginica,0,1
132,6.4,2.8,5.6,2.2,virginica,0,1
133,6.3,2.8,5.1,1.5,virginica,0,1
134,6.1,2.6,5.6,1.4,virginica,0,1
135,7.7,3.0,6.1,2.3,virginica,0,1
136,6.3,3.4,5.6,2.4,virginica,0,1
137,6.4,3.1,5.5,1.8,virginica,0,1
138,6.0,3.0,4.8,1.8,virginica,0,1
139,6.9,3.1,5.4,2.1,virginica,0,1
140,6.7,3.1,5.6,2.4,virginica,0,1
141,6.9,3.1,5.1,2.3,virginica,0,1
142,5.8,2.7,5.1,1.9,virginica,0,1
143,6.8,3.2,5.9,2.3,virginica,0,1
144,6.7,3.3,5.7,2.5,virginica,0,1
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1

# Using the Titanic dataset

1. Use the function defined in acquire.py to load the Titanic data.

In [38]:
df = acquire.get_titanic_data()

In [39]:
df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

2. Drop any unnecessary, unhelpful, or duplicated columns.

In [40]:
df.drop(columns = ['class', 'embarked', 'deck', 'age'], inplace=True)

In [41]:
df

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone
0,0,0,3,male,1,0,7.2500,Southampton,0
1,1,1,1,female,1,0,71.2833,Cherbourg,0
2,2,1,3,female,0,0,7.9250,Southampton,1
3,3,1,1,female,1,0,53.1000,Southampton,0
4,4,0,3,male,0,0,8.0500,Southampton,1
...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,0,0,13.0000,Southampton,1
887,887,1,1,female,0,0,30.0000,Southampton,1
888,888,0,3,female,1,2,23.4500,Southampton,0
889,889,1,1,male,0,0,30.0000,Cherbourg,1
890,890,0,3,male,0,0,7.7500,Queenstown,1

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [42]:
dummy_df = pd.get_dummies(df[['sex', 'embark_town']], drop_first=True)

In [43]:
df = pd.concat([df, dummy_df], axis=1)

In [44]:
df.drop(columns= ['sex', 'embark_town'], inplace=True)

4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [45]:
def prep_titanic():
    df = acquire.get_titanic_data()
    df.drop(columns = ['class', 'embarked', 'deck', 'age'], inplace=True)
    
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']], drop_first=True)
    df = pd.concat([df, dummy_df], axis=1)
    
    df.drop(columns= ['sex', 'embark_town'], inplace=True)
    return df

In [46]:
prep_titanic()

,passenger_id,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,1,0,7.2500,0,1,0,1
1,1,1,1,1,0,71.2833,0,0,0,0
2,2,1,3,0,0,7.9250,1,0,0,1
3,3,1,1,1,0,53.1000,0,0,0,1
4,4,0,3,0,0,8.0500,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,0,0,13.0000,1,1,0,1
887,887,1,1,0,0,30.0000,1,0,0,1
888,888,0,3,1,2,23.4500,0,0,0,1
889,889,1,1,0,0,30.0000,1,1,0,0
890,890,0,3,0,0,7.7500,1,1,1,0

# Using the Telco dataset

In [60]:
df = acquire.get_telco_data()

1. Use the function defined in acquire.py to load the Telco data.

In [94]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type,online_security,...,tech_support,streaming_tv,streaming_movies,contract_type,paperless_billing,payment_type,monthly_charges,total_charges,churn,null_charges
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3,No,False
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4,No,False
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,Yes,False
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,Yes,False
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4,Yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,DSL,Yes,...,Yes,No,No,One year,No,Mailed check,55.15,742.9,No,False
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7,Yes,False
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,DSL,No,...,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,No,False
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,...,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,No,False
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,...,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6,No,False

2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   internet_service_type  7043 non-null   object
 9   online_security        7043 non-null   object
 10  online_backup          7043 non-null   object
 11  device_protection      7043 non-null   object
 12  tech_support           7043 non-null   object
 13  streaming_tv           7043 non-null   object
 14  streaming_movies       7043 non-null   object
 15  contract_type          7043 non-null   object
 16  paperless_billing      7043 non-null   object
 17  payment_type           7043 non-null   object
 18  monthly_charges        7043 non-null   float64
 19  total_charges          7043 non-null   object
 20  churn                  7043 non-null   object
 21  null_charges           7043 non-null   bool
dtypes: bool(1), float64(1), int64(2), object(18)
memory usage: 1.1+ MB

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [67]:
# object_columns_nunique(df)
encode = ['gender', 'partner', 'dependents', 'phone_service', 'multiple_lines', 'internet_service_type', 
         'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
         'contract_type', 'paperless_billing', 'payment_type', 'churn']

In [68]:
df[encode]

,gender,partner,dependents,phone_service,multiple_lines,internet_service_type,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type,paperless_billing,payment_type,churn
0,Female,Yes,Yes,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,No
1,Male,No,No,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,No
2,Male,No,No,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,Yes
3,Male,Yes,No,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,Yes
4,Female,Yes,No,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,No,No,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,No
7039,Male,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,Yes
7040,Male,No,No,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,No
7041,Male,Yes,Yes,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,No
7042,Male,Yes,Yes,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,No

In [99]:
df.total_charges.isnull().sum()

0

In [119]:
# df['null_charges'] = pd.to_numeric(df['total_charges'], errors='coerce').isnull()
df['null_charges']

KeyError: 'null_charges'

In [111]:
df_with_null_charges = df

In [97]:
df['total_charges'][df['null_charges'] == True] = df['monthly_charges']

/var/folders/n7/p9r5pxl53g99g0h4q1_h50fr0000gn/T/ipykernel_47209/3745078047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_charges'][df['null_charges'] == True] = df['monthly_charges']

In [106]:
df.total_charges = df.total_charges.astype(float)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   internet_service_type  7043 non-null   object
 9   online_security        7043 non-null   object
 10  online_backup          7043 non-null   object
 11  device_protection      7043 non-null   object
 12  tech_support           7043 non-null   object
 13  streaming_tv           7043 non-null   object
 14  streaming_movies       7043 non-null   object
 15  contract_type          7043 non-null   object
 16  paperless_billing      7043 non-null   object
 17  payment_type           7043 non-null   object
 18  monthly_charges        7043 non-null   float64
 19  total_charges          7043 non-null   float64
 20  churn                  7043 non-null   object
 21  null_charges           7043 non-null   bool
dtypes: bool(1), float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [112]:
df.drop(columns= 'null_charges', inplace=True)

In [113]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type,paperless_billing,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,Fiber optic,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,DSL,Yes,...,No,Yes,No,No,One year,No,Mailed check,55.15,742.90,No
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70,Yes
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,No
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,...,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,No
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60,No

In [114]:
dummy_df = pd.get_dummies(df[encode], drop_first=True)
dummy_df.head()

,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,internet_service_type_Fiber optic,internet_service_type_None,online_security_No internet service,online_security_Yes,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,paperless_billing_Yes,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,churn_Yes
0,0,1,1,1,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,1,0
1,1,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,1,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,1
3,1,1,0,1,0,0,1,0,0,0,...,1,0,1,0,0,1,0,1,0,1
4,0,1,0,1,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,1,1

In [117]:
df = pd.concat([df, dummy_df], axis=1)
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type,online_security,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,paperless_billing_Yes,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,churn_Yes
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,1,0,0,1,0,1,0,0,1,0
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,DSL,No,...,0,0,1,0,0,0,0,0,1,0
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,Fiber optic,No,...,0,0,0,0,0,1,0,1,0,1
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,1,0,1,0,0,1,0,1,0,1
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,1,0,0,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,DSL,Yes,...,0,0,0,1,0,0,0,0,1,0
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,...,0,0,1,0,0,1,0,1,0,1
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,DSL,No,...,0,0,0,0,0,1,0,0,1,0
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,...,0,0,1,0,1,0,0,0,1,0
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,...,1,0,1,0,1,0,0,1,0,0

In [118]:
df.drop(columns=encode)

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,paperless_billing_Yes,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,churn_Yes
0,0002-ORFBO,0,9,65.60,593.30,0,1,1,1,0,...,1,0,0,1,0,1,0,0,1,0
1,0003-MKNFE,0,9,59.90,542.40,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
2,0004-TLHLJ,0,4,73.90,280.85,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,1
3,0011-IGKFF,1,13,98.00,1237.85,1,1,0,1,0,...,1,0,1,0,0,1,0,1,0,1
4,0013-EXCHZ,1,3,83.90,267.40,0,1,0,1,0,...,1,0,0,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,0,13,55.15,742.90,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
7039,9992-RRAMN,0,22,85.10,1873.70,1,1,0,1,0,...,0,0,1,0,0,1,0,1,0,1
7040,9992-UJOEL,0,2,50.30,92.75,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
7041,9993-LHIEB,0,67,67.85,4627.65,1,1,1,1,0,...,0,0,1,0,1,0,0,0,1,0
7042,9995-HOTOH,0,63,59.00,3707.60,1,1,1,0,1,...,1,0,1,0,1,0,0,1,0,0

In [133]:
def prep_telco():
    df = acquire.get_telco_data()

    encode = ['gender', 'partner', 'dependents', 'phone_service', 'multiple_lines', 'internet_service_type', 
             'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
             'contract_type', 'paperless_billing', 'payment_type', 'churn']

    df['null_charges'] = pd.to_numeric(df['total_charges'], errors='coerce').isnull()

    df['total_charges'][df['null_charges']== True] = df['monthly_charges'][df['null_charges']== True]

    df.total_charges = df.total_charges.astype(float)

    df.drop(columns= 'null_charges', inplace=True)

    dummy_df = pd.get_dummies(df[encode], drop_first=True)

    df = pd.concat([df, dummy_df], axis=1)

    df = df.drop(columns=encode)
    print(df.info())
    return df

In [134]:
prep_telco()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            7043 non-null   object
 1   senior_citizen                         7043 non-null   int64
 2   tenure                                 7043 non-null   int64
 3   monthly_charges                        7043 non-null   float64
 4   total_charges                          7043 non-null   float64
 5   gender_Male                            7043 non-null   uint8
 6   partner_Yes                            7043 non-null   uint8
 7   dependents_Yes                         7043 non-null   uint8
 8   phone_service_Yes                      7043 non-null   uint8
 9   multiple_lines_No phone service        7043 non-null   uint8
 10  multiple_lines_Yes                     7043 non-null   uint8
 11  internet_service_type_Fiber optic      7043 non-null   uint8
 12  internet_service_type_None             7043 non-null   uint8
 13  online_security_No internet service    7043 non-null   uint8
 14  online_security_Yes                    7043 non-null   uint8
 15  online_backup_No internet service      7043 non-null   uint8
 16  online_backup_Yes                      7043 non-null   uint8
 17  device_protection_No internet service  7043 non-null   uint8
 18  device_protection_Yes                  7043 non-null   uint8
 19  tech_support_No internet service       7043 non-null   uint8
 20  tech_support_Yes                       7043 non-null   uint8
 21  streaming_tv_No internet service       7043 non-null   uint8
 22  streaming_tv_Yes                       7043 non-null   uint8
 23  streaming_movies_No internet service   7043 non-null   uint8
 24  streaming_movies_Yes                   7043 non-null   uint8
 25  contract_type_One year                 7043 non-null   uint8
 26  contract_type_Two year                 7043 non-null   uint8
 27  paperless_billing_Yes                  7043 non-null   uint8
 28  payment_type_Credit card (automatic)   7043 non-null   uint8
 29  payment_type_Electronic check          7043 non-null   uint8
 30  payment_type_Mailed check              7043 non-null   uint8
 31  churn_Yes                              7043 non-null   uint8
dtypes: float64(2), int64(2), object(1), uint8(27)
memory usage: 460.9+ KB
None

/var/folders/n7/p9r5pxl53g99g0h4q1_h50fr0000gn/T/ipykernel_47209/1295973249.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_charges'][df['null_charges']== True] = df['monthly_charges'][df['null_charges']== True]

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,paperless_billing_Yes,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,churn_Yes
0,0002-ORFBO,0,9,65.60,593.30,0,1,1,1,0,...,1,0,0,1,0,1,0,0,1,0
1,0003-MKNFE,0,9,59.90,542.40,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
2,0004-TLHLJ,0,4,73.90,280.85,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,1
3,0011-IGKFF,1,13,98.00,1237.85,1,1,0,1,0,...,1,0,1,0,0,1,0,1,0,1
4,0013-EXCHZ,1,3,83.90,267.40,0,1,0,1,0,...,1,0,0,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,0,13,55.15,742.90,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
7039,9992-RRAMN,0,22,85.10,1873.70,1,1,0,1,0,...,0,0,1,0,0,1,0,1,0,1
7040,9992-UJOEL,0,2,50.30,92.75,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
7041,9993-LHIEB,0,67,67.85,4627.65,1,1,1,1,0,...,0,0,1,0,1,0,0,0,1,0
7042,9995-HOTOH,0,63,59.00,3707.60,1,1,1,0,1,...,1,0,1,0,1,0,0,1,0,0

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            7043 non-null   object
 1   senior_citizen                         7043 non-null   int64
 2   tenure                                 7043 non-null   int64
 3   monthly_charges                        7043 non-null   float64
 4   total_charges                          7043 non-null   float64
 5   gender_Male                            7043 non-null   uint8
 6   partner_Yes                            7043 non-null   uint8
 7   dependents_Yes                         7043 non-null   uint8
 8   phone_service_Yes                      7043 non-null   uint8
 9   multiple_lines_No phone service        7043 non-null   uint8
 10  multiple_lines_Yes                     7043 non-null   uint8
 11  internet_service_type_Fiber optic      7043 non-null   uint8
 12  internet_service_type_None             7043 non-null   uint8
 13  online_security_No internet service    7043 non-null   uint8
 14  online_security_Yes                    7043 non-null   uint8
 15  online_backup_No internet service      7043 non-null   uint8
 16  online_backup_Yes                      7043 non-null   uint8
 17  device_protection_No internet service  7043 non-null   uint8
 18  device_protection_Yes                  7043 non-null   uint8
 19  tech_support_No internet service       7043 non-null   uint8
 20  tech_support_Yes                       7043 non-null   uint8
 21  streaming_tv_No internet service       7043 non-null   uint8
 22  streaming_tv_Yes                       7043 non-null   uint8
 23  streaming_movies_No internet service   7043 non-null   uint8
 24  streaming_movies_Yes                   7043 non-null   uint8
 25  contract_type_One year                 7043 non-null   uint8
 26  contract_type_Two year                 7043 non-null   uint8
 27  paperless_billing_Yes                  7043 non-null   uint8
 28  payment_type_Credit card (automatic)   7043 non-null   uint8
 29  payment_type_Electronic check          7043 non-null   uint8
 30  payment_type_Mailed check              7043 non-null   uint8
 31  churn_Yes                              7043 non-null   uint8
dtypes: float64(2), int64(2), object(1), uint8(27)
memory usage: 460.9+ KB

4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [ ]:
# telco['gender_encode'] = telco.gender.map({'Female': 1, 'Male': 0})