# Exercises

The end product of these exercise is a jupyter notebook (`classification_exercises.ipynb`) and an `acquire.py` file. The notebook will contain all your work as you move through the exercises. The `acquire.py` file should contain the final functions that acquire the data into a pandas dataframe.

1. Make a new repo called `classification-exercises` on both GitHub and within your `codeup-data-science` directory. This will be where you do your work for this module.

2. Inside of your local `classification-exercises` repo, create a file named `.gitignore` with the following contents:


  * env.py
  * .DS_Store
  * .ipynb_checkpoints/
  * __pycache__
  * *.csv
#### Add and commit your `.gitignore` file before moving forward.

3. Now that you are 100% sure that your `.gitignore` file lists `env.py`, create or copy your `env.py` file inside of `classification-exercises`. Running git status should show that git is ignoring this file.

4. In a jupyter notebook, `classification_exercises.ipynb`, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, `df_iris`, from this data.

  - print the first 3 rows

  - print the number of rows and columns (shape)

  - print the column names

  - print the data type of each column

  - print the summary statistics for each of the numeric variables

5. Read the data from this google sheet into a dataframe, df_google.

  - print the first 3 rows

  - print the number of rows and columns

  - print the column names

  - print the data type of each column

  - print the summary statistics for each of the numeric variables

  - print the unique values for each of your categorical variables

6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

  - assign the first 100 rows to a new dataframe, df_excel_sample

  - print the number of rows of your original dataframe

  - print the first 5 column names

  - print the column names that have a data type of object

  - compute the range for each of the numeric variables.

## Make a new python module, acquire.py to hold the following data aquisition functions:

1. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

2. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

3. Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

4. Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

# Make sure your env.py and csv files are not being pushed to GitHub!